/* Your existing CSS styles */

.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-title {
  font-size: 24px;
  margin: 10px 0;
}

.blog-summary {
  font-size: 16px;
  color: #666;
}

img {
  max-width: 300px;
  /* height: auto; */
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.read-more:hover {
  background-color: #0056b3;
}




.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* Your existing CSS styles */

.add-blog-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.add-blog-form-c {
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  max-width: 600px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


  